/* -------------------- */
/* MINIMAL CSS RESET */
/* -------------------- */
html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* SCSS */
header {
  font-family: arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1C2D49;
  height: 80px;
  padding-left: 5%; }
  @media (min-width: 767px) {
    header {
      padding-left: 2%; } }

.headerMenu {
  width: 100px;
  height: 80px; }
  @media (min-width: 767px) {
    .headerMenu {
      width: 50%; } }

.headerMenu__toggle {
  display: none;
  z-index: -1; }
  .headerMenu__toggle:checked ~ .headerMenu__body {
    display: block;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    color: black;
    background-color: #fff;
    animation: colorChange 1.5s ease-in;
    z-index: 2; }

@keyframes colorChange {
  /* You could think of as "step 1" */
  0% {
    background-color: #1C2D49; }
  /* You could think of as "step 2" */
  100% {
    background-color: #fff; } }
  .headerMenu__toggle:checked ~ .headerMenu__toggle__text::before {
    transform: rotate(-50deg) translate(11.5px, 1px); }
  .headerMenu__toggle:checked ~ .headerMenu__toggle__text::after {
    transform: rotate(50deg) translate(13.5px, 1px); }

.headerMenu__body {
  display: none; }
  @media (min-width: 767px) {
    .headerMenu__body {
      display: block;
      color: #fff; } }

.headerMenu__toggle__text {
  display: block;
  padding: 16px;
  height: 80px;
  margin: 0 auto;
  cursor: pointer;
  color: black;
  user-select: none;
  position: relative; }
  @media (min-width: 767px) {
    .headerMenu__toggle__text {
      display: none; } }
  .headerMenu__toggle__text::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #FCFCFC;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    top: 45px; }
  .headerMenu__toggle__text::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #FCFCFC;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    top: 25px; }

.headerMenu__list {
  list-style: none;
  padding: 16px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .headerMenu__list a {
    margin: 15px 5px; }

a {
  text-decoration: none;
  color: black;
  margin: 5px; }
  @media (min-width: 767px) {
    a {
      color: #fff; } }
  a:hover {
    color: #1C2D49;
    text-decoration: underline; }

.outer-wrapper {
  width: 100%;
  margin: 0 auto; }

.s-wrap {
  width: 100%;
  height: 40vh;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  .s-wrap > input {
    display: none; }
  .s-wrap .s-content {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    height: 40vh;
    font-size: 0;
    list-style: none;
    transition: transform 1s; }
  .s-wrap .s-content__trabajos {
    top: 267px;
    height: 40vh; }
  .s-wrap .s-item {
    display: inline-block;
    width: 10%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; }
    .s-wrap .s-item .s-item__text {
      display: block;
      height: 50px;
      position: absolute;
      bottom: 15%;
      left: 5%;
      color: White; }
      .s-wrap .s-item .s-item__text .s-item__text__title {
        background-color: rgba(0, 0, 0, 0.75);
        font-size: 20px;
        margin-bottom: 2.5%;
        padding: 5px;
        position: relative;
        cursor: pointer; }
        .s-wrap .s-item .s-item__text .s-item__text__title .link_servicios {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%; }
      .s-wrap .s-item .s-item__text .s-item__text__description {
        background-color: rgba(0, 0, 0, 0.75);
        font-size: 16px;
        padding: 5px;
        transform: translate(10px, 0); }
    .s-wrap .s-item .s-item__conocer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      color: White; }
      .s-wrap .s-item .s-item__conocer .s-item__conocer__text {
        background-color: rgba(0, 0, 0, 0.75);
        font-size: 20px;
        max-width: 65%;
        max-height: 80%;
        padding: 5px;
        position: relative;
        cursor: pointer; }
        .s-wrap .s-item .s-item__conocer .s-item__conocer__text .link_servicios {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%; }
  .s-wrap .c-galery {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center; }
  .s-wrap .s-item-1 {
    background-image: url("/_assets/img/work1.jpg"); }
  .s-wrap .s-item-2 {
    background-image: url("/_assets/img/works3.jpg");
    position: relative; }
  .s-wrap .s-item-3 {
    background-image: url("/_assets/img/works2.jpg"); }
  .s-wrap .s-item-4 {
    background-image: url("/_assets/img/works4.jpg"); }
  .s-wrap .s-item-5 {
    background-image: url("/_assets/img/works5.jpg"); }
  .s-wrap .s-item-6 {
    background-image: url("/_assets/img/works6.jpg"); }
  .s-wrap .s-item-7 {
    background-image: url("/_assets/img/works7.jpg");
    position: relative; }
  .s-wrap .s-item-8 {
    background-image: url("/_assets/img/works8.jpg"); }
  .s-wrap .s-item-9 {
    background-image: url("/_assets/img/works9.jpg"); }
  .s-wrap .s-item-10 {
    background-image: url("/_assets/img/works10.jpg"); }

.container__trabajos {
  height: 80vh; }

.s-type-1 .s-control {
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  transition-timing-function: ease-out; }
  .s-type-1 .s-control > label[class^="s-c-"] {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #999;
    background-color: #efefe8;
    cursor: pointer; }

.s-type-1 .s-nav label {
  display: none;
  position: absolute;
  top: 45%;
  padding: 5px 10px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15); }
  .s-type-1 .s-nav label::before, .s-type-1 .s-nav label::after {
    content: "";
    display: block;
    width: 8px;
    height: 24px;
    background-color: #fff; }
  .s-type-1 .s-nav label::before {
    margin-bottom: -12px; }
  .s-type-1 .s-nav label.left {
    left: 20px; }
    .s-type-1 .s-nav label.left::before {
      transform: rotate(45deg); }
    .s-type-1 .s-nav label.left::after {
      transform: rotate(-45deg); }
  .s-type-1 .s-nav label.right {
    right: 20px; }
    .s-type-1 .s-nav label.right::before {
      transform: rotate(-45deg); }
    .s-type-1 .s-nav label.right::after {
      transform: rotate(45deg); }

.s-type-1 #s-1:checked ~ .s-content {
  transform: translateX(0%); }

.s-type-1 #s-1:checked ~ .s-control .s-c-1 {
  background-color: #333; }

.s-type-1 #s-1:checked ~ .s-nav .s-nav-1 {
  display: block; }

.s-type-1 #s-2:checked ~ .s-content {
  transform: translateX(-10%); }

.s-type-1 #s-2:checked ~ .s-control .s-c-2 {
  background-color: #333; }

.s-type-1 #s-2:checked ~ .s-nav .s-nav-2 {
  display: block; }

.s-type-1 #s-3:checked ~ .s-content {
  transform: translateX(-20%); }

.s-type-1 #s-3:checked ~ .s-control .s-c-3 {
  background-color: #333; }

.s-type-1 #s-3:checked ~ .s-nav .s-nav-3 {
  display: block; }

.s-type-1 #s-4:checked ~ .s-content {
  transform: translateX(-30%); }

.s-type-1 #s-4:checked ~ .s-control .s-c-4 {
  background-color: #333; }

.s-type-1 #s-4:checked ~ .s-nav .s-nav-4 {
  display: block; }

.s-type-1 #s-5:checked ~ .s-content {
  transform: translateX(-40%); }

.s-type-1 #s-5:checked ~ .s-control .s-c-5 {
  background-color: #333; }

.s-type-1 #s-5:checked ~ .s-nav .s-nav-5 {
  display: block; }

.s-type-1 #s-6:checked ~ .s-content {
  transform: translateX(-50%); }

.s-type-1 #s-6:checked ~ .s-control .s-c-6 {
  background-color: #333; }

.s-type-1 #s-6:checked ~ .s-nav .s-nav-6 {
  display: block; }

.s-type-1 #s-7:checked ~ .s-content {
  transform: translateX(-60%); }

.s-type-1 #s-7:checked ~ .s-control .s-c-7 {
  background-color: #333; }

.s-type-1 #s-7:checked ~ .s-nav .s-nav-7 {
  display: block; }

.s-type-1 #s-8:checked ~ .s-content {
  transform: translateX(-70%); }

.s-type-1 #s-8:checked ~ .s-control .s-c-8 {
  background-color: #333; }

.s-type-1 #s-8:checked ~ .s-nav .s-nav-8 {
  display: block; }

.s-type-1 #s-9:checked ~ .s-content {
  transform: translateX(-80%); }

.s-type-1 #s-9:checked ~ .s-control .s-c-9 {
  background-color: #333; }

.s-type-1 #s-9:checked ~ .s-nav .s-nav-9 {
  display: block; }

.s-type-1 #s-10:checked ~ .s-content {
  transform: translateX(-90%); }

.s-type-1 #s-10:checked ~ .s-control .s-c-10 {
  background-color: #333; }

.s-type-1 #s-10:checked ~ .s-nav .s-nav-10 {
  display: block; }

.s-type-2 .s-content {
  animation: slider-animation 50s ease-in-out infinite; }
  .s-type-2 .s-content:hover {
    animation-play-state: paused; }

@keyframes slider-animation {
  0%,
  7% {
    transform: translateX(0%); }
  5.5555555556%,
  12.5555555556% {
    transform: translateX(-10%); }
  11.1111111111%,
  18.1111111111% {
    transform: translateX(-20%); }
  16.6666666667%,
  23.6666666667% {
    transform: translateX(-30%); }
  22.2222222222%,
  29.2222222222% {
    transform: translateX(-40%); }
  27.7777777778%,
  34.7777777778% {
    transform: translateX(-50%); }
  33.3333333333%,
  40.3333333333% {
    transform: translateX(-60%); }
  38.8888888889%,
  45.8888888889% {
    transform: translateX(-70%); }
  44.4444444444%,
  51.4444444444% {
    transform: translateX(-80%); }
  50%,
  57% {
    transform: translateX(-90%); }
  55.5555555556%,
  62.5555555556% {
    transform: translateX(-80%); }
  61.1111111111%,
  68.1111111111% {
    transform: translateX(-70%); }
  66.6666666667%,
  73.6666666667% {
    transform: translateX(-60%); }
  72.2222222222%,
  79.2222222222% {
    transform: translateX(-50%); }
  77.7777777778%,
  84.7777777778% {
    transform: translateX(-40%); }
  83.3333333333%,
  90.3333333333% {
    transform: translateX(-30%); }
  88.8888888889%,
  95.8888888889% {
    transform: translateX(-20%); }
  94.4444444444%,
  101.4444444444% {
    transform: translateX(-10%); } }

.IndexGalery {
  max-width: 80vw;
  height: 200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "img1 img1 img1" "img3 img2 img2";
  margin-bottom: 50px;
  position: relative;
  font-family: arial; }
  .IndexGalery::before {
    content: "GALERIA DE NUESTROS TRABAJOS";
    position: absolute;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    font-family: arial;
    width: 180px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 90px);
    text-align: center;
    border: 1px solid #fff;
    background-color: rgba(28, 45, 45, 0.75);
    padding-top: 20px; }
  .IndexGalery .IndexGalery__link {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block; }
  .IndexGalery .IndexGalery__img1 {
    grid-area: img1;
    width: 100%;
    height: 100%;
    background-image: url(/_assets/img/works2.jpg);
    background-position: center;
    background-size: cover; }
  .IndexGalery .IndexGalery__img2 {
    grid-area: img2;
    background-image: url(/_assets/img/works3.jpg);
    background-position: center;
    background-size: cover; }
  .IndexGalery .IndexGalery__img3 {
    grid-area: img3;
    background-image: url(/_assets/img/work1.jpg);
    background-position: center;
    background-size: cover; }

footer {
  background-color: #1C2D49;
  padding: 2% 7%;
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 135px 75px 220px;
  grid-template-areas: "NrTelefono NrTelefono NrTelefono" "redes redes redes" "Maps Maps Maps" "Certification Certification Certification" "Links Links Links";
  grid-gap: 20px; }
  footer .telefono {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    text-align: center;
    font-size: 25px;
    grid-area: NrTelefono;
    justify-self: center; }
    footer .telefono .icon__telefono {
      width: 50px;
      height: 50px;
      margin-right: 10px; }
  footer .redes {
    grid-area: redes;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    footer .redes .red {
      width: 50px;
      height: 50px; }
  footer .location {
    grid-area: Maps;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    footer .location__txt {
      width: 110px;
      height: 115px;
      font-size: 20px;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
  footer .certification {
    grid-area: Certification;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    footer .certification .certification__img {
      width: 200px;
      height: 75px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
  footer .Flinks {
    grid-area: Links;
    padding-bottom: 5%; }
    footer .Flinks .Flink {
      font-size: 20px;
      font-weight: bold;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 5px; }
      footer .Flinks .Flink a {
        height: 100%;
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }

.magrin__conocenos {
  margin-bottom: 5%; }

.Conocenos {
  text-align: center;
  margin: 5% 10%; }
  .Conocenos .Conocenos__name, .Conocenos .Conocenos__description {
    font-size: 30px;
    margin-bottom: 5%;
    color: #1C2D49; }
  .Conocenos .Conocenos__description {
    font-size: 20px;
    border-left: 2px solid #1C2D49;
    padding-left: 5%;
    text-align: justify;
    letter-spacing: 5; }
  .Conocenos .Conocenos__link {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center; }
    .Conocenos .Conocenos__link a {
      border: 1px solid #1C2D49;
      padding: 3% 5%; }

.logoMain {
  margin: 5%; }
