
$switch-speed: 1s;
$slider-number: 10;
$slider-width: 100% / $slider-number;

$image1: "/_assets/img/work1.jpg";
$image2: "/_assets/img/works3.jpg";
$image3: "/_assets/img/works2.jpg";
$image4: "/_assets/img/works4.jpg";
$image5: "/_assets/img/works5.jpg";
$image6: "/_assets/img/works6.jpg";
$image7: "/_assets/img/works7.jpg";
$image8: "/_assets/img/works8.jpg";
$image9: "/_assets/img/works9.jpg";
$image10: "/_assets/img/works10.jpg";

.s-wrap {
  width: 100%;
  height: 40vh;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  > input {
    display: none;
  }

  .s-content {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% * $slider-number;
    height: 40vh;
    font-size: 0;
    list-style: none;
    transition: transform $switch-speed;
  }
  .s-content__servicios {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40vh;
    left: 0;
    width: 100% * $slider-number;
    height: 30vh;
    font-size: 0;
    list-style: none;
    transition: transform $switch-speed;
  }

  .servicios-item {
    display: inline-block;
    width: $slider-width;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .servicios-item__text {
      display: block;
      height: 50px;
      position: absolute;
      bottom: 15%;
      left: 5%;
      color: White;

      .servicios-item__text__title {
        background-color: rgba(0, 0, 0, 0.75);
        font-size: 20px;
        margin-bottom: 2.5%;
        padding: 5px;
        position: relative;
        cursor: pointer;
        .link_servicios {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      .servicios-item__text__description {
        background-color: rgba(0, 0, 0, 0.75);
        font-size: 16px;
        padding: 5px;
        transform: translate(10px, 0);
      }
    }
    .servicios-item__servicio {
      @include flex-box(center, center, column);
      position: absolute;
      width: 100%;
      height: 40vh;
      top: 0;

      .servicios-item__servicio__text {
        font-size: 30px;
        max-width: 90%;
        max-height: 80%;
        padding: 5px;
        position: relative;
        text-align: center;
        color: $txt;
        font-weight: bold;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        border:0.5px solid $txt;;
        cursor: pointer;
        .link_servicios {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      .servicios-item__servicio-description {
        position: relative;
        text-align: center;
        color: $white;
        margin:0 auto;
        width:90%;
        @include flex-box(center, flex-start,column);
        .link_servicios {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
        .apimosa__servicios{
            display: block;
            width: 90%;
            height: 40px;
            font-size: 1.1rem;
            text-align: left;
            line-height: 20px;
            margin:5px 0;
        }
      }
      .servicios-item__img {
        @include flex-box(space-around, center);
        width: 100%;
        height: 50%;
        &__link {
          display: block;
          width: 50px;
          height: 50px;
          background-color: #000;
          background-position: center;
          background-size: cover;
        }
      }
      @for $t from 1 through 4 {
        .servicios-item__img__link:nth-child(#{$t}) {
          background-image: url(/_assets/img/works#{$t}.jpg);
        }
      }
    }
  }
  .servicios-item-description {
    background-color: #000;
  }
  // IMG for conocenos
  .c-galery {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
  }
  .servicios-item-1 {
    background-image: url($image1);
  }
  .servicios-item-2 {
    background-image: url($image2);
    position: relative;
  }
  .servicios-item-3 {
    background-image: url($image3);
  }
  .servicios-item-4 {
    background-image: url($image4);
  }
  .servicios-item-5 {
    background-image: url($image5);
  }
  .servicios-item-6 {
    background-image: url($image6);
  }
  .servicios-item-7 {
    background-image: url($image7);
    position: relative;
  }
  .servicios-item-8 {
    background-image: url($image8);
  }
  .servicios-item-9 {
    background-image: url($image9);
  }
  .servicios-item-10 {
    background-image: url($image10);
  }
}

.s-type-1 {
  .s-control {
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    transition-timing-function: ease-out;

    > label[class^="s-c-"] {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 10px;
      border-radius: 50%;
      border: 1px solid #999;
      background-color: #efefe8;
      cursor: pointer;
    }
  }

  .s-servicio label {
    display: none;
    position: absolute;
    top: 50%;
    padding: 5px 10px;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);

    &::before,
    &::after {
      content: "";
      display: block;
      width: 8px;
      height: 24px;
      background-color: $white;
      margin: 0 10px;
    }

    &::before {
      margin-bottom: -12px;
    }

    &.left {
      left: 20px;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &.right {
      right: 20px;

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }

  @for $i from 1 through $slider-number {
    #s-#{$i}:checked {
      & ~ .s-content__servicios {
        transform: translateX(-$slider-width * ($i - 1));
      }

      & ~ .s-control .s-c-#{$i} {
        background-color: #333;
      }

      & ~ .s-servicio .s-servicio-#{$i} {
        display: block;
      }
    }
  }
}

.logoMain {
  margin: 5%;

  .title__servicios{
    font-weight: bold;
    margin:5% auto;
    font-size: 25px;
    text-align: center;
    max-width: 80%;
    @include flex-box(center, center);
    color:$txt;
  }
}
