// *****************************
// +++++++ $BANNERS ++++++
// *****************************

//INDEX POPUP
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 9;
  }
  
  .popup {
    margin: 40px auto;
    padding: 0px;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    height: 80vh;
    position: relative;
    transition: all 5s ease-in-out;

    @include mediaQueries(tablet, down) {
      @include flex-box(center,center);
      height:40vh;
    }
    @include mediaQueries(desktop, down) {
      height:50vh;
      max-width: 1024px;
      margin-top: 105px;
    }

    // IMGS for POPUPS CONTAINERS
    .popups-item-1 {
        background-image: url($image1);
      }
    .popups-item-2 {
        background-image: url($imageCorrosivo);
      }
    .popups-item-3 {
        background-image: url($image3);
      }
    .popups-item-4 {
        background-image: url($image4);
      }
    .popups-item-5 {
        background-image: url($image5);
      }
    .popups-item-6 {
        background-image: url($image6);
      }
    .popups-item-7 {
        background-image: url($image7);
      }
    .popups-item-8 {
        background-image: url($image8);
      }
    .popups-item-9 {
        background-image: url($image9);
      }
    .popups-item-10 {
        background-image: url($image10);
      }
      //Items of each title
      //IMgs and Titles of Service
    .popups-item {
        display: inline-block;
        width: 100%;
        height: 40vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        @include mediaQueries(tablet, down) {
          width: 49%;
        }
        @include mediaQueries(desktop, down) {
          height: 50vh;
          width: 100%;
        }
    
        .popups-item__text {
          display: block;
          height: 50px;
          position: absolute;
          bottom: 15%;
          left: 5%;
          color: White;
    
          .popups-item__text__title {
            background-color: rgba(0, 0, 0, 0.75);
            font-size: 20px;
            margin-bottom: 2.5%;
            padding: 5px;
            position: relative;
            cursor: pointer;
            .link_popups {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
            }
          }
          .popups-item__text__description {
            background-color: rgba(0, 0, 0, 0.75);
            font-size: 16px;
            padding: 5px;
            transform: translate(10px, 0);
          }
        }
        .popups-item__popup {
          @include flex-box(center, center, column);
          position: absolute;
          width: 100%;
          height: 40vh;
          top: 0;

          @include mediaQueries(desktop, down) {
            height: 100%;
          }
          //TITLE
          .popups-item__popup__text {
            font-size: 30px;
            max-width: 90%;
            max-height: 80%;
            padding: 5px;
            position: relative;
            text-align: center;
            color: $txt;
            font-weight: bold;
            background-color: rgba($color: #ffffff, $alpha: 0.5);
            border:0.5px solid $txt;;
            cursor: pointer;
            .link_popups {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
            }
          }
          //Text descriptiom of Service
          .popups-item__popup-description {
            position: relative;
            text-align: center;
            color: $white;
            margin:0 auto;
            width:90%;
            @include flex-box(space-around, flex-start,column);

            @include mediaQueries(desktop, down) {
              height: 100%;
            }

            .link_popups {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
            }
            .apimosa__popups{
                display: block;
                width: 90%;
                height: 40px;
                font-size: 1.1rem;
                text-align: left;
                line-height: 20px;
                margin:5px 0;

                @include mediaQueries(tablet, down) {
                  font-size: 1.5rem;
                }
                @include mediaQueries(desktop, down) {
                  font-size: 1.5rem;
                  line-height: 25px;
                }
            }
          }
          // Imgs of Servicios
          .popups-item__img {
            @include flex-box(space-around, center);
            width: 100%;
            height: 50%;
            // Links for full view
            &__link, &__super, &__ingi, &__corro, &__pro, &__horm, &__indu, &__deco, &__imper, &__edif, &__inect {
              display: block;
              width: 50px;
              height: 50px;
              background-color: #000;
              background-position: center;
              background-size: cover;
            }
          }
          // Loop for bg images
          @for $t from 1 through 3 {
            .popups-item__img__link:nth-child(#{$t}) {
              background-image: url(/_assets/img/works#{$t}.jpg);
            }
            .popups-item__img__ingi:nth-child(#{$t}) {
              background-image: url(/_assets/img/ingenieria#{$t}.jpg);
            }
            .popups-item__img__corro:nth-child(#{$t}) {
              background-image: url(/_assets/img/Anticorrosiva#{$t}.jpg);
            }
            .popups-item__img__super:nth-child(#{$t}) {
              background-image: url(/_assets/img/superficies#{$t}.jpg);
            }
            .popups-item__img__pro:nth-child(#{$t}) {
              background-image: url(/_assets/img/protecciones#{$t}.jpg);
            }
            .popups-item__img__horm:nth-child(#{$t}) {
              background-image: url(/_assets/img/hormigones#{$t}.jpg);
            }
            .popups-item__img__indu:nth-child(#{$t}) {
              background-image: url(/_assets/img/pavimentos#{$t}.jpg);
            }
            .popups-item__img__deco:nth-child(#{$t}) {
              background-image: url(/_assets/img/decorativos#{$t}.jpg);
            }
            .popups-item__img__imper:nth-child(#{$t}) {
              background-image: url(/_assets/img/imper#{$t}.jpg);
            }
            .popups-item__img__edif:nth-child(#{$t}) {
              background-image: url(/_assets/img/edificios#{$t}.jpg);
            }
            .popups-item__img__inect:nth-child(#{$t}) {
              background-image: url(/_assets/img/inect#{$t}.jpg);
            }
          }
        }
      }
  }
  // Baground color for bottom text
  .popups-item-description{
      background-color: #000;
      
      @include mediaQueries(tablet, down) {
        display: inline-block;
      }
      @include mediaQueries(desktop, down) {
        display: block;
      }
  }
  
  // Close Icon
  .popup .close {
    position: absolute;
    top: -7px;
    right: 10px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: $white;
    z-index: 9;
    padding:7px 15px;
    margin: 0;
    width: 50px;
    height: 50px;
  }
  .popup .close:hover {
    color: $color_mine_shaft_approx;
  }